---
layout: splash
permalink: /
title: "The home of next generation cybersecurity talent."
hidden: true
paginate: false
header:
  overlay_color: "#00843D"
  overlay_image: "/assets/images/low-poly-grid-haikei.svg"
  
feature_row:
  - image_path: /assets/images/highly-accomplished.jpg
    alt: "accomplished"
    title: "Highly accomplished"
    excerpt: "One of the best competitive cybersecurity organizations in the country where students strive for excellence."
    url: "/about/#notable-achievements"
    btn_class: "btn--primary"
    btn_label: "Learn more"
  - image_path: /assets/images/community-outreach.svg
    alt: "community"
    title: "Community outreach"
    excerpt: "Giving back to local communities via cybersecurity education. Helping the next generation be safer."
    url: "/bootcamps/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
  - image_path: /assets/images/student-led.svg
    alt: "100% student led"
    title: "100% student led"
    excerpt: "Empowering students to learn to become leaders and teachers, all while learning industry-level skills."
    url: "/rosters"
    btn_class: "btn--primary"
    btn_label: "Learn more"      
---

{% include feature_row %}

<!-- {% include latest_post %} -->